<div id="main-page" class="container-fluid">

  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <h3><p class="text-left">Machine Translate</p></h3>
    </div>

    
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <textarea class="form-control" id="sourceinput" placeholder="Source language" rows="6"></textarea>
    </div>

    <div class="col-md-1">
      <select class="button button-select" id="languages">
        <option value="zh-en" id="zh-en">Zh-En</option>
        <option value="zh-zh" id="zh-zh">Zh-Zh</option>
        <option value="en-zh" id="en-zh">En-Zh</option>
      </select>
    </div>

    <div class="col-md-4 col-md-offset-0">
      <textarea class="form-control" id="targetinput" placeholder="Target language" rows="6" readonly></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1 col-md-offset-2"><h3><a id="nmt" class="button">NMT</a></h3></div>
    <div class="col-md-1 col-md-offset-0"><h3><a id="smt" class="button">SMT</a></h3></div>
    <div class="col-md-1 col-md-offset-0"><h3><a id="baidu" class="button  button-baidu">............</a></h3></div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2" id="alignment"><h3><p>Alignment matrix</p></h3></div>

    <div class="col-md-4 col-md-offset-1">
    <table id="resultstable" class="table table-bordered">
    <h3><p>History</p></h3>
    <thead>
    <tr>
    <th>Source Sentence</th>
    <th>Translated Result</th>
    <th>Type</th>
    <th>Pair</th>
    <th>Time</th>
    </tr>
    </thead>
    <tbody id="resultstablebody">
    </tbody>
    </table>
    </div>
  </div>

</div>
